<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ServerID</key>
    <string>PROD</string>
    <key>BundleID</key>
    <string>com.nebo15.mbank.production</string>
    <key>CodeSignIdentity</key>
    <string>iPhone Distribution: CreditPilot LLC (MMWKJ4RYB7)</string>
</dict>
</plist>
